<!DOCTYPE html>
<html lang="en">

  <head>
  <!-- head -->
  <%- include("templates/head") %>
  </head>

  <body>

    <!-- Navigation -->
    <%- include("templates/Navigation") %>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">小說庫
        <small>玄幻魔法</small>
      </h1>

      <div class="row">
        <% for(let i=0; i<chapter.length;i++){ %>
            <div class="col-lg-4 col-sm-6">
                <% if( chapter[i]!=chapter[i-1]){ %>
                    <p><a href="/books/<%= book %>/<%= chapter[i] %>"><%= chapter[i] %></a></p>
                <% } %>
           
            </div>
        <% } %>
      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <%- include("templates/footer") %>
   

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>




